/*
$body-bg: #ddd; 
$body-color: #000;
$body-image: url('/background.png');
$link-color: #090909;

$article-special-color-1: #6B7387;
$article-special-color-2: #89BABF;

$title-font-url: '/fonts/CormorantGaramond-Bold.ttf';
$subtitle-font-url: '/fonts/CormorantGaramond-Regular.ttf';
*/